// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$Yellow: #FBB72C;
$Black: #1F2027;
$Gray: #414047;
$White: #FFFFFF;
$DarkYellow: #F3B12F;
$SeaGreen: #17C3B2;
