<div id="recipes" class="row pt-5">
  <% if recipes.any? %>
    <% recipes.each do |recipe| %>
      <div class="col-6 text-cWhite mb-1 mt-2">
        <%= link_to  scan_recipe_path(recipe.scan_id, recipe), class: "text-decoration-none" do  %>
          <div class="card-recipe ">
            <%= image_tag "https://images.unsplash.com/photo-1618666185561-baed3459ff18?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", class: "card-image rounded-circle" %>
            <div class="text-cWhite text-center fs-6" style="margin-top:30px">
              <p><%= recipe.name %></p>
              <div>
                <span>
                  <i class="fa-regular fa-clock"></i>
                  <%= recipe.duration %>
                  Min
                </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <em>Sorry, no recipes found.</em>
  <% end %>
</div>
