<div data-controller="load-reviews"
     data-load-reviews-url-value="<%= recipe_reviews_path(@recipe) %>">
  <button class="btn btn-primary"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample"
          data-action="click->load-reviews#load">
    Ver Reviews
  </button>
  <div class="offcanvas offcanvas-start" id="offcanvasExample">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Reviews</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div data-load-reviews-target="offcanvasBody">...</div>
    </div>
  </div>
</div>
