<div data-controller="floating-button" class="fab" >
  <button class="btn rounded-circle shadow-lg"
    id="floatingButton"
    data-action="click->floating-button#toggle">
    <i class="fa-solid fa-bars"></i>
  </button>
  <div class="fab-options" data-floating-button-target="options">
    <%= link_to dashboard_path, class: "btn fab-nav rounded-circle shadow fab-size" do  %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to "/scans/new", class: "btn fab-nav rounded-circle shadow fab-size" do  %>
      <i class="fa-solid fa-camera"></i>
    <% end %>
    <%= link_to recipes_path, class: "btn fab-nav rounded-circle shadow fab-size" do  %>
      <i class="fa-solid fa-book"></i>
    <% end %>
  </div>
  <div class="fab-options-left" data-floating-button-target="optionsleft">
    <%= link_to profiles_show_path, class: "btn fab-nav rounded-circle shadow fab-size" do  %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
</div>
