<%# Image Banner %>
<div id="scan-container" class="container min-vh-100 d-flex align-items-center">
  <div class="row w-100 mx-auto">
    <p id="take-photo-text" class="display-1" style="color: white; font-family: $headers-font;">Snap a photo of your ingredients!</p>

      <%= simple_form_for @scan do |f| %>
        <!-- Input field for the camera -->
        <div class="text-center">
          <%= f.input :photo, as: :file, input_html: { accept: "image/*", capture: "camera", onchange: "previewImage(event)" }, label: false %>
        </div>
        <p id="check-photo-text" class="text-center display-6" style="color: white; font-family: $headers-font; display: none;">Does your photo look good?</p>
        <!-- Preview for the photo -->
        <div id="photo-preview" class="d-flex justify-content-center my-3">
          <img id="preview-image" style="max-width: 300px; display: none;" alt="photo of ingredients taken by user" />
        </div>

        <!-- Submit button -->
        <div class="text-center" id="photo-submit-button" style="display: none;">
          <%= f.button :submit, "Upload Scan", class: "btn rounded-pill photo-submit-button" %>
        </div>
      <% end %>
  </div>
</div>
