.banner {
  background-size: cover;
  background-position: center;
  min-height: 200px;
}

.banner h1 {
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,.2);
  font-size: 32px;
  font-weight: bold;
}
.banner p {
  font-size: 20px;
  color: #fff;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,.2);
}


.banner-overlay {
  position: relative;
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* on top of image*/
.banner-overlay::after {
  content: "";
  position: absolute;
  inset: 0; /* top/right/bottom/left: 0 */
  background: linear-gradient(rgba(146,146,146,0), rgba(31,32,39,1) 99%);
  pointer-events: none; /* doesnt block clicks */
}

.banner-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
