.event {
  background-color: #f0f0f0;
  margin: 2px 0;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.5rem;
}

.calendar-heading {
  color:white;
  text-align: center;
}

.calendar-heading nav {
  display: none !important;
}
